.nextflow.log*
trace*.txt
work
.nextflow

#Keep out testing/debugging files
run_batch.sh
*.html
*.txt
*.fasta
*.log
*.tar.gz
add_random_snps.py
test/actual_distances

#Ensure we track base test fasta
!test/sample.fasta
!test/NC_000962.3.fasta
!test/tb-exclude.txt

#Keep out local bucket data too
data/**
