params {
    help = ''
    local = ''
    sample = ''
    samples = ''
    species = 'tb'
    api_url = ''
    api_token = ''
    testing = ''
    relatedness_bucket = "$projectDir/data/relatedness"
    pvc_saves = "$projectDir/dummy_pvc/relatedness-saves"
}

profiles {
    kubernetes {
        params {
            relatedness_bucket = "/workspace/buckets/relatedness_bucket"
            container_prefix = 'lhr.ocir.io/lrbvkel2wjot'
        }
        process {
            executor = 'k8s'
            container = 'lhr.ocir.io/lrbvkel2wjot/gpas/pipeline-utils:v0.0.2'
            maxRetries = 5
            errorStrategy = {
                sleep(60 * Math.pow(2, task.attempt) as Integer)
                task.attempt <= maxRetries ? 'retry' : 'terminate'
            }
        }
        k8s {
            workDir = '/workspace'
            namespace = 'default'

            serviceAccount = 'nextflow-bot'
            computeResourceType = 'Job'
            storageClaimName = 'nextflow-fss-claim'
            storageMountPath = '/workspace'
            launchDir = '/workspace/runs'
            projectDir = '/workspace/project'
            pod = [
                [privileged: true],
                [imagePullSecret: 'ocirsecret'],
                [secret: 'nextflow-api-key-secret', mountPath: '/etc/nextflow-api-key'],
            ]
        }
    }
    docker {
        params.container_prefix = 'lhr.ocir.io/lrbvkel2wjot'
        process.executor = 'local'
        docker.enabled = true
        docker.fixOwnership = true
        docker.runOptions = "-u \$(id -u):\$(id -g) --network host"
        process.cpus = 6
        process.memory = "8GB"
        docker.registry = "lhr.ocir.io"
        process.container = "lhr.ocir.io/lrbvkel2wjot/oxfordmmm/fn6:latest"
    }
}
